/* CSS Document */
body {
	margin:0;
	font-family:byekan;
	background:#E8E6D9;
	}
body a {
	color:black;
	}
#submenu {
	background: rgba(207,207,207,1.00);
    display: none;
    float: right;
    height: 90px;
	font-size:100%;
	font-family:byekan;
    position: absolute;
    width: 169px;
    z-index: 20;
    top: 98%;
	padding:1px;
    right: 80%;
    border-radius: 5px;
	}
.fixed {
		width:100% !important;
		position:fixed !important;
		top:0 !important;
		z-index:1000 !important;
					
}
#header  {
	width:100%;
	height:260px;
	background:url(../img/masthead_background.jpg);
	background-size: 100% 260px;
	float:right;
	position:relative;
	font-family:byekan;
	text-align:center;
	font-size:14px;
	}
#header h2,#header h4 {
	margin:0;
	padding:0;
	}	
#header h2 {
	
	margin-top:10px !important;
	}	
#header #searchpart {
	float:right;
	width:100%;
	height:100px;
	position:relative;}
#header input {
	background: #a468af none repeat scroll 0 0;
    border: 2px solid #cccccc;
    border-radius: 15px;
    display: block;
    font-family: byekan;
    font-size: 15px;
    height: 50px;
    left: 37%;
    position: absolute;
    top: 51px;
	
    text-align: right;
    width: 35%;
	float:left;

	}
#header i  {
	cursor: pointer;
    float: left;
    font-size: 30px;
    left: 38%;
    position: absolute;
    top: 60px;
    z-index: 1;
    
	}
#header select {
	background: #a468af none repeat scroll 0 0;
    border-radius: 9px;
    float: left;
    font-family: byekan;
    font-size: 11px;
    height: 45px;
    left:26%;
    position: absolute;
    top: 54px;
    width: 10%;
	text-align:center;
	
	}	
#mainbody {
	
	float:left;
	width:100%;
	height:100%;
	}
#mainbody #slider ul li {
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    width: 75%;
	
	}	
#mainbody #slider ul li img {
	border-radius: 50px;
	display: block;
    height: 35%;
    margin: 0 auto;
    width: 80%;
	border:15px ridge #C9D7D8;
	}
#mainbody #slidernumber  {
	margin:0;
	margin-right:46%;
    display:none;
	}
#mainbody #slider #slidernumber li{
	background-color: #C0C0C0;
    border-radius: 100%;
    display: inline;
    float: right;
    font-family: byekan;
    list-style: outside none none;
    text-align: center;
    width: 4%;
	margin: 0 0.1% 5px 0;
    border:1px outset #808080;
	}
.activeslidernumber {
	color:white;
	background-color:#333;
	font-weight:bold;
	 border:3px outset #FFF;
	}
#mainbody #books {
	
	border-radius:2px;
    height: 313px ;
    margin: 0px 1% auto ;
	width:97% ;
	float:right ;
	position:relative;
	border: solid transparent;
    border-width: 5px;
	border-image: url(../img/footer.png) 25 25  25 stretch; 
	border-left-style:solid;
	border-left-image:url(../img/footer.png) 25 25 25 25 round; 
			}
#mainbody #books li,#mainbody #books_general li {
	border: 3px inset #666;
    float: right ;
    height: 200px;
    list-style: outside none none;
    margin: 1.2% ;
    padding: 0 ;
    position: relative ;
    width: 130px;
	}
#mainbody #books li img,#mainbody #books_general li img{
	height: 63% !important;
    margin: 0 auto !important;
    position: absolute !important;
    right: 9% !important;
    text-align: center !important;
    width: 80% !important; 
	}
#mainbody #books li:hover  img ,#mainbody #books_general li:hover img{
	width:82% !important;
	height:64% !important; 

	}
#mainbody #books li #name ,#mainbody #books_general li #name{
	bottom: 25% !important;
    display: block !important;
    font-family: byekan !important;
    font-size: 51% !important;
    position: absolute !important;
    right: 0px !important;
    text-align: center !important;
	
	}
#mainbody #books li #secondprice,#mainbody #books li #firstprice ,#mainbody #books_general li #secondprice, #mainbody #books_general li #firstprice {
	bottom: 12% !important;
    color: green !important;
    display: block !important;
    font-family: byekan !important;
    font-size: 52% !important;
    font-weight: bold !important;
    position: absolute !important;
    right: 18% !important;
    text-align: center !important;
	
	}
#mainbody #books li #firstprice,#mainbody #books_general li #firstprice {
	 bottom: 18% !important;
    color: red !important;
    right: 15% !important;
    text-decoration: line-through !important;
	}
#mainbody #books li i ,#mainbody #books_general li i{
	 bottom: 1% !important;
    position: absolute !important;
	left: 5% !important;
	background-color:#9F0 !important;
	padding:3% !important;
	cursor:pointer !important;
	
	}
#mainbody #books #next i,#mainbody #books #prev i ,#mainbody #books_general #next i,#mainbody #books_general #prev i{
    position: absolute;
    right: 2px;
    top: 113px;
    font-size: 113%;
	z-index:5;
	display:none;
	cursor:pointer;
	}
#mainbody #books #prev i,#mainbody #books_general #prev i{
	left:2px !important;
}
#mainbody #books_header #special,#mainbody #books_header #new,#mainbody #books_header #popular {
	color:white;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    font-family: byekan;
    height: 125px;
    margin-left: 206px;
    margin-top: 46px;
    text-align: center;
    width: 10%;
	background:#921D5B;
	line-height:120px;
	}
#mainbody #books_header #special {
	background:#F9D302 !important;
	}
#mainbody #books_header #new {
	background:#F78F25 !important;
	}
#mainbody #books_header {
	float:right;
	margin: 5px auto !important;
	width:97% !important;
	}
.active_books_header {
	border: 3px ridge white !important ;
    color: white;
    font-weight: bold;
	} 
.jcarousel-div{
    width:100% !important;
	height:313px !important;
}
/******footer****/
#footer {
	width:100%;
	height:200px;
	background:#E0E4CC;
	float:right;
	margin-top:10px;
	color:black;
	font-family:byekan;
	text-align:center;
	font-size:90%;
	direction:rtl;
	}
#footer #source {
    float: left;
    font-size: 14px;
    margin-left: 11%;
    margin-top: 9px;
}
#footer #rightpart {
	float: right;
    margin: 5px;
	margin-top:80px;
	width:19%;
	
}
#footer #rightpart #rightpartimg {
	
	display:block;
	float: right;
    margin: 5px;
	
}

#subfooter{
	width:100%;
	height:50px;
	background:black;
	float:right;
	margin-top:5px;
	line-height:40px;
	color:white;
	font-family:byekan;
	text-align:center;
	font-size:70%;
	direction:rtl;
}
#footer #logo {
	 border-radius: 100%;
    float: left;
    height: 80px;
    margin: 3%;
    width: 80px;
	
	}
#footer #logotxt {
	float: left;
    
    margin-top: 10% !important;
	font-size:70%;
	} 
/***footer*/
#mainbody #books_general-header	
{
  background:#A468AF;
    border-radius: 71px;
    float: right;
    font-family: byekan;
    font-size: 100%;
    height: 9px;
    line-height: 3px;
    margin-top: 10px;
    padding: 20px;
    text-align: right;
    width: 97%;
	
	}
#mainbody #books_general , #mainbody #book_detail {
	border-style: solid;
	border-left-style: solid;
	border-right-style: solid; 
    border-image: url(../img/footer.png) 25 25 25 25 round; 
	
	float: right;
    height: 600px;
    margin-right: 0.5%;
    margin-top: 10px;
	margin-bottom: 10px;
    overflow:auto;
    width: 96% !important;
	padding-right:3% !important;
	border-radius: 94px !important;
	font-family:byekan;
}
#mainbody #books_general li {
	width:130px!important;
	margin:2.2% !important;
	
	
	}
#general-show i,#detail-show i {
		    cursor: pointer;
			float: left;
			font-size: 25px;
			line-height: 5px;
			margin-left: 3%;
		}
#book_detail ul li {
		list-style:none;
		float:right !important;
		border-bottom:4px double #2CAFA9;
		padding:2px;
		}
#book_detail ul li img{
			float: right;
			height: 280px;
			margin-left: 1.7%;
			margin-right: 3%;
			margin-top: 2%;
			width: 200px;
			}
#book_detail ul li #name , #book_detail ul li #language ,#book_detail ul li #writer-describtion , #book_detail ul li #subject,#book_detail ul li #note,#book_detail ul li #status,#name,#language,#writer-describtion{
		float:right;
		margin:10px;
		width:78%;
		direction:rtl;
		text-align:right;
	}
#book_detail ul li i{
		background:#2CAFA9;
		cursor: pointer;
		float: left;
		font-size: 180%;
		margin-bottom: 5px;
		padding: 8px;
	}
#enter button,#register button{
	background: #D7B921 none repeat scroll 0 0;
    font-family: byekan;
    font-size: 100%;
    height: 20%;
    line-height: 0;
    margin-right: 72.5%;
    width: 10%;
	cursor:pointer;
	border-radius:5px;
	}
#register button {
	height:40px !important;
}
#enter {
		float: left;
		height: 250px;
		width: 19%;
		background:#B9ECE6;
		font-family:byekan;
		font-size:100%;
		direction:rtl;
		z-index:1;
		border:inset;
		}
#enter .name{
		text-align:right;
		}
#enter input{
	width:70%;
	margin-right:20% !important;
		}
#enter i ,#register i{
		 margin:5px !important;
		 float:right !important;
		 cursor:pointer;
		 }
#register {
		 
			border: medium inset ;
			direction: rtl;
			float: right;
			font-family: byekan;
			font-size: 100%;
			height: 335px;
			width: 100%;
			z-index: 1;
			margin-top: 70px;
		}
#register .name{
		text-align:right;
		}
#register input{
		width:70%;
		margin-right:20% !important;
		}
#mainbody #rules {
	direction: rtl;
    text-align: right;
    width: 80%;
    margin-right: 12% !important;
    float: right;
	
	 }
#mainbody #rulesheader {
	font-size:140%;
	 border-bottom:15px groove rgba(60,192,186,1.00);
	}
#mainbody #rulesbody { 
font-size:90% !important;
}


/***contact us***/
#contactus {
	float:right;
	width:100%;
	height:411px;
	background:#2CAFA9;
	direction:rtl;
	padding:10px;
	margin-right:0px;
	padding-right:3%;
	padding-left:3%;
	border-radius:10px;
	display:block;
	text-align:center;
	margin:0 auto;
	
	}
#contactus label{
	float:right;
	width:21%;
	margin-bottom:-2px;
	font-family:byekan;
	}
#contactus input,#contactus textarea {
	float:right;
	width:70%;
	display:block;
	margin-top:10px;
	border-radius:3px;
	font-family:byekan;
	}
#contactus button {
	border-radius: 2px;
    float: right;
    margin-right: 84%;
    margin-top: 8px;
    width: 7%;
	font-family:byekan;
	}
/***contact us***/


.fixedcontactus {
	
	position:fixed !important;
	bottom:0 !important;
	right:0 !important;
	z-index:1000 !important;
	}
#register #registerheader {
	float:right;
	background:rgba(215,185,33,1.00);
	width:100%;
	border-radius:5px;
	font-size:20px;}
#register #registerbody input{
	float:left;
	}
#register #registerbody  {
	float:right;
	width:100%;
	padding-top:10px !important;
}
#mainbody #rightpart{
	height:110%;
	float:right;
	 margin-top: 53px;
    width: 14%;
	background:#2CAFA9;
	border-radius:5px;
	}
#mainbody #rightpart  ul li,#mainbody #rightpartmin327  ul li{
	list-style:none;
	border-bottom:1px solid rgba(145,145,145,1.00);
	float:right;
	text-align:right;
	cursor:pointer;
	width:118%;
	direction:rtl;
	padding-right:5%;
}
#mainbody #rightpart  ul li:hover,#mainbody #rightpartmin327  ul li:hover{
	color:white;
	background:rgba(212,123,23,0.85);
}
#mainbody #rightpartmin327 {
	
	float:right;
	 margin-top: 53px;
    width:100%;
	background:#2CAFA9;
	border-radius:5px;
	
	}
#mainbody #rightpartmin327 .rightpartli ul {
	display:none;}
#rightpartmin327 i {
	color:#F26A00;
	font-size:30px;
	cursor:pointer;}
#mainbody #leftpart{
	height:100%;
	width:85%;
	float:left;
	
	}
.poll {
	background:#BB832D;
	margin-top:60px;
	border-bottom:none !important;
	width:118.4% !important;
	cursor:default !important;
	}	
.poll:hover {
	background:#BB832D !important;
	color:black !important;
	}
.poll input {
	float:left;
	margin-left:40%;
	}
#mainbody #rightpart ul li ul{
	display:none;
	}
#mainbody #rightpart  ul li ul li{
	list-style:none;
	border-bottom:none;
	float:right;
	text-align:right;
	cursor:pointer;
	width:90%;
	direction:rtl;
	padding-left:5%;
	font-size:12px;
}
#mainbody #rightpart  ul li ul li:hover{
	color:black;
	background:#2CAFA9;
}
#social-network{
	float: right;
    font-size: 20px;
    margin-right: 12%;
    margin-top: 142px;
	
	}
#social-network i{
	margin-right:10px;
	cursor:pointer;
	
	border-radius:3px;
	font-size:25px;
	color:white !important;
	height:30px;
	width:30px;
	border-radius:100%;
	}
#social-network #youtube{
	background:red;
	}
#social-network #facebook{
	background:#3B5998;
	}
#social-network #twitter{
	background:#3487C8;
	}
#social-network #linkedin{
	background:#0077B5;
	}

#finalprice {
	 float:left;
	 background:#ccc;
	 margin-left:100px;
	 text-align: center;
    width: 100px;
	 }
#completebuy{
	cursor:pointer;
	 background: rgba(32,183,32,1.00) none repeat scroll 0 0;
    border-radius: 11px;
    float: left;
    font-family: byekan;
    font-size: 17px;
    height: 41px;
    margin-bottom: 20px;
    margin-left: 148px;
    margin-top: 0;
    width: 100px;
	}
/*all menu*/
#menuless327,#menuless768{
	
	background:url(../img/icons%20pattern.png) #2CAFA9 repeat  ;
	float:right;
	width:100%;
	height:55px;
	position:relative;
	}
#menuless327 #menuless327icon {
	float:right;
	cursor:pointer;
	color:#F26A00;
	margin-right:5%;
	margin-top:3%;
	}
#menuless327 ul {
	background:#E8E6D9;
	margin-top:15%;
	float:right;
	margin-right:-10px;
	width:14%;
	z-index:1000 !important;
	position:relative;
	border-radius:3px;
	}
#menuless327 ul li{
	float:right;
	text-align:center;
	width:100%;
	display:block;
	margin-top:3px;
	font-size:10px;
	font-weight:bold;
	cursor:pointer;
	
	position:relative;
	height:20px;
	
	text-align:right;
	}
#menuless327 ul li:hover{
	color:white;
	}	
#menuless327  img,#menuless768  img  {
	cursor: pointer;
    height: 30px;
    left: 14%;
    position: absolute;
    width: 25px;
	top:8px;
	}
#menuless327 #signupicon i,#menuless768 #signupicon i {
	color:#F26A00;
	position: absolute;
    left: 3%;
    font-size:28px;
	cursor:pointer;
	top:10px;
	}
#menuless327 #buybasket,#menuless768 #buybasket   {
	background:#A468AF;
    border-radius: 8px;
    font-family: byekan;
    height: 48%;
    left: 27%;
	padding-right:2px;
	padding-top:2px;
    margin-top:9px;
    font-size:70%;
    position: absolute;
    text-align: right;
    width: 15%;
	cursor:pointer;
	}
#menuless327 #buybasket i,#menuless768 #buybasket i {
	 font-size: 200%;
	 padding-top:0px !important;
	}
#menuless327 #buybasket #buynumber,#menuless768 #buybasket #buynumber  {
	background: rgba(183,191,183,1.00);
    border-radius: 100%;
    float: left;
    font-family: byekan;
    height: 20px;
    margin-left: 8%;
    margin-top: 2px;
    text-align: center;
    width: 20px;
    font-size: 90%;
	}

#menu{
	
	background:url(../img/icons%20pattern.png) #2CAFA9 repeat  ;
	float:right;
	width:100%;
	height:55px;
	position:relative;
	}
#menu ul ,#menuless768 ul{
	margin-top:0.5%;
	margin-bottom:0.5%;
	
	}
#menu ul li{
	display:inline;
	list-style:none;
	float:right;
	text-align:right;
	margin:0px 1.8% 15px 3%;
	font-size:17px;
	font-weight:bold;
	cursor:pointer;
	transition:all ease-in 1 ease-out 0;
	position:relative;
	height:46px;
	
	}
#menu ul li:hover{
	display:inline;
	list-style:none;
	float:right;
	text-align:right;
	margin:4px 1.8% 15px 3%;
	font-size:16px;
	color:white;
	border-radius:5px 5px 5px 5px;
	}	
#menu #login{
	 position: absolute;
     left: 120px;
	 float: left;

	 cursor:pointer;
	}
#menu #loginicon img  {
	cursor: pointer;
    height: 30px;
    left: 150px;
    position: absolute;
    width: 25px;
	margin-left:3px;
	}
#menu #signup{
	cursor: pointer;
    float: left;
    left: 17px;;
    line-height: 2;
    position: absolute;
	}
#menu #signupicon i {
	color:#F26A00;
	position: absolute;
    left: 60px;;
    width: 25px;
	height:30px;
	cursor:pointer;
	margin-left:8px;
	}
#menu #buybasket  {
	background:#A468AF;
    border-radius: 8px;
    font-family: byekan;
    height: 35px;;
    left: 27%;
    padding-right: 8px;
    padding-top: 5px;
    position: absolute;
    text-align: right;
    width: 160px;;
	cursor:pointer;
	}
#menu #buybasket i {
	 font-size: 200%;
	 padding-top:0px !important;
	}
#menu #buybasket #buytxt {
	float: left;
    margin-left: 45%;
    margin-top: 0px;
	font-size: 85% !important;
	}  
#menu #buybasket #buynumber  {
	background: rgba(183,191,183,1.00);
    border-radius: 100%;
    float: left;
    font-family: byekan;
    height: 23px;
    margin-left: 8%;
    margin-top: -35px;
    text-align: center;
     width: 23px;
    font-size: 90%;
	
	}
#menuless768 ul li{
	display:inline;
	list-style:none;
	float:right;
	text-align:right;
	margin:13px 1.8% 15px 3%;
	font-size:65%;
	font-weight:bold;
	cursor:pointer;
	transition:all ease-in 1 ease-out 0;
	position:relative;
	height:46px;
	
	}
#menuless768 ul li:hover{
	display:inline;
	list-style:none;
	float:right;
	text-align:right;
	
	
	color:white;
	border-radius:5px 5px 5px 5px;
	}
/*all menu*/




@media only screen and (min-width: 768px) {
#menu {display:block;}
#menuless327 {display:none;}
#menuless768 {display:none;}
#rightpartmin327 {display:none;}
#rightpart {display:block;}
	}
@media only screen and (min-width: 1000px) {
#social-network{display:none;}
#footer{display:block;}
#rightpartmin327 {display:none;}
#rightpart {display:block;}

	}
@media only screen and (min-width: 0px) and (max-width: 400px) {
#contactus label{
	
	width:20%;
	margin-top:20px;;
	
	font-size:50%;
	}
#contactus input,#contactus textarea {
	
	width:70%;
	
	}
#contactus button {
	font-size:50%;
    width: 10%;
	}	
	
}
@media only screen and (min-width: 0px) and (max-width: 327px) {
#menu {display:none;}
#menuless768 {display:none;}
#menuless327 {display:block;}

	}
@media only screen and (min-width: 327px) and (max-width: 768px) {
#menu {display:none;}
#menuless327 {display:none;}
#menuless768 {display:block;}

	}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
#rightpartmin327 {display:block;}
#rightpart {display:none;}
#footer{display:none;}
#social-network {display:block;}
}
@media only screen and (min-width: 0px) and (max-width: 1100px) {
#mainbody #books_header{
	width:97%;
	float:right;
	position:relative;
	margin-top:5px;
	 height: 40px;
	 }
#mainbody #books_header #special,#mainbody #books_header #new,#mainbody #books_header #popular {
    cursor: pointer;
    float: right;
    font-family: byekan;
    height: 100%;
    background:none;
	line-height:40px;
	
	position:absolute;
	margin-top:0px;
	margin-right:0px;
	border-radius:10px;
	}
#mainbody #books_header #special{
	 width:30%;
	background:blue;
    right:2%;
	
	}
#mainbody #books_header #new{
	 right:35%;
	 width: 30%;
	background:yellow;
	
	}
#mainbody #books_header #popular{
	right:70%;
	background:#921D5B;
	 width:30%;
}
}